.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
}

.input {
    height: 48px;
    flex-shrink: 0;
    border-radius: var(--radius-small);
    border: 1px solid var(--color-border);
    background: var(--color-bg-dark);
    color: var(--color-text);
    padding: 0 var(--spacing-small);
    width: 100%;
}

.input:read-only {
    outline: none;
    color: var(--color-text-muted);
    cursor: default;
}

.label {
    color: var(--color-text-muted);
    font-size: 13px;
}

.input[type="file"] {
    display: none;
}

.upload {
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 12px var(--spacing-small);
    width: 50%;
    border-radius: var(--radius);
    background: var(--color-primary);
    color: var(--color-text);
    font-size: 14px;
    font-weight: 700;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.upload:hover {
    background: var(--color-secondary-hover);
}

.errorText {
    font-size: 12px;
    color: #ff75ff;
}

.inputGroup:has(input[readonly]) .upload {
    outline: none;
    color: var(--color-text-muted);
    border: 1px solid var(--color-border);
    background: var(--color-bg-dark);
    cursor: default;
    pointer-events: none;
}
