.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.input {
    height: 48px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #2d2d34;
    background: #15151d;
    color: #ffffff;
    padding: 0 1rem;
    width: 100%;
}

.label {
    color: #949497;
    font-size: 13px;
    font-weight: 400;
}

.input[type="file"] {
    display: none;
}

.upload {
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 12px 16px;
    width: 50%;
    border-radius: 8px;
    background: #7e22ce;
    color: #ffffff;
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.upload:hover {
    background: #9c27b0;
}
