.button {
  cursor: pointer;
  transition: background-color 0.2s ease;
  border: none;
  background: #7e22ce;
  font-weight: 700;
  width: 360px;
  height: 47px;
  border-radius: 8px;
}

.button:hover {
  background: #9c27b0;
}

.login,
.signup {
  width: 360px;
  height: 47px;
  border-radius: 8px;
  background: #7e22ce;
  color: #ffffff;
  font-family: Inter;
  font-size: 16px;
}

.signup:disabled {
  background: #8d8d8d;
  cursor: default;
}

.menuButton {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  background-color: #6415c0;
  height: 100%;
  width: 100%;
  color: #d5d5d5;
  font-family: Inter;
  font-size: 20px;
  text-decoration: none;
  border: none;
  transition: background-color 0.1s ease-in;
  color: #d5d5d5;
  font-family: Inter;
  text-decoration: none;
}

.menuButton:hover {
  color: #ffffff;
  background-color: #7928d1;
}

.search {
  width: 190px;
  height: 38px;
  position: absolute;
  right: 15px;
  top: 10px;
}

.searchMediatype {
  height: 34px;
  width: fit-content;
  padding: 0 1rem;
  background-color: #232339;
  border: 1px solid #39394d;
}

.inactive {
  height: 34px;
  width: fit-content;
  padding: 0 1rem;
  background-color: #232339;
  border: 1px solid #39394d;
}

.active {
  height: 34px;
  width: fit-content;
  padding: 0 1rem;
  background-color: #7928d1;
  border: 1px solid #39394d;
}
