.button {
    cursor: pointer;
    transition: background-color 0.2s ease;
    border: none;
    background: #7e22ce;
    font-weight: 700;
    width: 360px;
    height: 47px;
    border-radius: 8px;
}

.button:hover {
    background: #9c27b0;
}

.button:disabled {
    color: #949497;
    border: 1px solid #2d2d34;
    background: #15151d;
    cursor: default;
}

.login,
.signup {
    width: 360px;
    height: 47px;
    border-radius: 8px;
    background: #7e22ce;
    color: #ffffff;
    font-family: Inter;
    font-size: 16px;
}

.signup:disabled {
    background: #8d8d8d;
    cursor: default;
}

.menuButton {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    background-color: #6415c0;
    height: 100%;
    width: 100%;
    color: #d5d5d5;
    font-family: Inter;
    font-size: 20px;
    text-decoration: none;
    border: none;
    transition: background-color 0.1s ease-in;
    color: #d5d5d5;
    font-family: Inter;
    text-decoration: none;
}

.menuButton:hover {
    color: #ffffff;
    background-color: #7928d1;
}

.search {
    width: 190px;
    height: 38px;
    position: absolute;
    right: 15px;
    top: 10px;
}

.searchMediatype {
    height: 34px;
    width: fit-content;
    padding: 0 1rem;
    background-color: #232339;
    border: 1px solid #39394d;
}

.inactive {
    height: 34px;
    width: fit-content;
    padding: 0 1rem;
    background-color: #232339;
    border: 1px solid #39394d;
}

.active,
.addWatchlistButton {
    height: 34px;
    width: fit-content;
    padding: 0 1rem;
    background-color: #7928d1;
    border: 1px solid #39394d;
}

.inactiveReview {
    height: 34px;
    width: fit-content;
    padding: 0 1rem;
    background-color: #232339;
    color: #838383;
    border: 1px solid #39394d;
    cursor: default;
}

.inactiveReview:disabled {
    background-color: #232339;
}

.activeReview {
    height: 34px;
    width: fit-content;
    padding: 0 1rem;
    background-color: #7928d1;
    border: 1px solid #39394d;
}

.listButton,
.gridButton {
    background-color: #232339;
    border: 1px solid #39394d;
    margin: 0;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
}

.addWatchlistButton {
    position: absolute;
    right: -100px;
}

.removeWatchlistButton {
    position: absolute;
    right: -100px;
    background-color: #232339;
    border: 1px solid #39394d;
}

.removeWatchlistButton:hover {
    background-color: #b54143;
}

.removeWatchlistButton,
.watched {
    width: fit-content;
    padding: 0 1rem;
    height: 35px;
    min-width: 180px;
}

.closeButton {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    width: unset;
    height: unset;
    padding: 4px 2rem;
    border-radius: 0;
}

.addButton,
.watchButton {
    position: absolute;
    width: fit-content;
    height: fit-content;
    padding: 3px 5px;
    right: 5px;
    top: 5px;
    background-color: #232339;
    border: 1px solid #39394d;
}

.watchButton {
    left: 5px;
}

.resetPassword {
    padding: 0.5rem;
    width: fit-content;
    height: fit-content;
}

.saveButton {
    margin-top: 3rem;
    align-self: center;
}

.verify {
    padding: 0.3rem 0.5rem;
    width: fit-content;
    height: fit-content;
}

.genreButton,
.ratingButton,
.durationButton {
    padding: 0.3rem 0.5rem;
    width: fit-content;
    height: fit-content;
    background-color: #374151;
    border: 1px solid #39394d;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    gap: 1rem;
}
