.menu {
    position: absolute;
    top: 75px;
    right: 0;
    width: 252px;
    background-color: var(--color-primary);
    z-index: 100;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 2px;
    list-style: none;
    flex-grow: 1;
}

.listItem {
    height: 60px;
    width: 100%;
}

.inactive {
    position: fixed;
    right: -400px;
}

.active {
    right: -20px;
}

.mobileOnly {
    display: none;
}

@media (max-width: 968px) {
    .menu {
        top: 60px;
        transition: right 0.3s;
    }
    .mobileOnly {
        display: block;
    }
}

