.profilePicture img {
    overflow: hidden;
    max-width: 230px;
    max-height: 230px;
    width: auto;
    height: auto;
}

.profileContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.profilePicture {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.frame {
    display: flex;
    overflow: hidden;
    height: 123px;
    width: 123px;
    border: #8a2be2 solid 3px;
    border-radius: 144px;
    align-items: center;
    justify-content: center;
}
