.mediaGridContainer {
    display: grid;
    padding: 2rem 0;
    width: 100%;
    max-width: 1340px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
}

.buttonContainer {
    display: flex;
    gap: 1rem;
}

.title {
    align-self: flex-start;
}

.mediaGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
    justify-items: center;
}

.containerGrid {
    display: grid;
}

.containerList {
    display: flex;
    flex-direction: column;
}
