.mediaGridContainer {
    display: grid;
    padding: 2rem 0;
    width: 100%;
}

.title {
    align-self: flex-start;
}

.mediaGrid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
    justify-items: center;
}

.card {
    width: 200px;
    border-radius: 0px 0px 8px 8px;
    background: #16162e;
}
.containerGrid {
    display: grid;
}

.containerList {
    display: flex;
}

.cardGrid {
}

.cardList {
}

.mediaTitle {
    grid-row: 1;
    text-align: center;
    margin: 25px 0;
    font-size: 16px;
}
