.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 300px;
    gap: var(--spacing-small);
}

.code {
    color: var(--color-accent-alt);
    text-shadow: 0px 0px 20px rgba(156, 79, 255, 0.5);
    font-size: 128px;
    font-weight: 700;
}

.text {
    color: var(--color-text);
    font-size: 32px;
}

.description {
    color: #cccccc;
    text-align: center;
}
