.UserInformation {
    max-width: 1340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-small);
    width: 50%;
    padding: var(--spacing-medium);
    margin: var(--spacing-medium);
    border-radius: var(--radius);
    background-color: var(--color-bg-tertiary);
    color: var(--color-text);
    box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
}

.userInformationForm {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
    width: 100%;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
}

.passwordReset {
    display: flex;
    gap: var(--spacing-small);
    align-items: center;
}
