.card {
	display: flex;
	flex-direction: column;
	position: relative;
	border-radius: 0 0 8px 8px;
	border: solid 1px var(--color-border);
	background: #16162e;
	cursor: pointer;
	transition: transform 0.2s ease;
}

.card:hover {
	transform: scale(1.01);
}

.card:hover .buttonContainer {
	flex-direction: column;
	opacity: 1;
}

.poster {
	width: 100%;
	border-radius: 8px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.mediaDetails {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
	padding: var(--spacing-small) var(--spacing-xsmall);
	max-width: 200px;
}

.mediaRating {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: var(--spacing-xsmall);
}
.mediaTitle {
	margin: var(--spacing-xsmall) 0;
	font-size: 16px;
}

.addButton {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 50;
}

.posterContainer {
	position: relative;
}

.buttonContainer {
	display: flex;
	position: absolute;
	flex-direction: column;
	align-items: center;
	gap: 5px;
	justify-content: space-around;
	width: 100%;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s ease;
	background-color: var(--color-bg-overlay);
	padding: 1rem;
	pointer-events: auto;
	bottom: 0;
}

.ratingContainer {
	display: flex;
	align-items: center;

	gap: var(--spacing-xsmall);
}

@media (max-width: 968px) {
	.buttonContainer {
		top: unset;
		flex-direction: column;
		opacity: 1;
		background-color: var(--color-bg-overlay);
		padding: 1rem;
	}
}

@media (max-width: 768px) {
	.buttonContainer::before {
		display: none;
	}

	.buttonContainer {
		opacity: 1;
	}

	.card {
		width: 160px;
	}

	.mediaDetails {
		padding: 0.4rem;
	}

	.mediaTitle {
		font-size: 14px;
		margin: 20px 0;
	}

	.addButton {
		top: var(--spacing-small);
		right: var(--spacing-small);
	}
}

@media (max-width: 480px) {
	.card {
		width: 100%;
		max-width: 300px;
		margin: 0 auto var(--spacing-small);
	}

	.mediaDetails {
		padding: 1rem;
	}

	.mediaTitle {
		font-size: 16px;
		margin: 8px 0;
	}

	.addButton {
		top: 6px;
		right: 6px;
	}
}
