.card {
    position: relative;
    width: 200px;
    border-radius: 0px 0px 8px 8px;
    background: #16162e;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.card:hover {
    transform: scale(1.02);
}

.poster {
    width: 100%;
    border-radius: 8px;
}

.mediaDetails {
    padding: 0.5rem;
}

.mediaTitle {
    text-align: center;
    margin: 25px 0;
    font-size: 16px;
}

.addButton {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 50;
}
