.divider {
    border: none;
    height: 4px;
    background: var(--gradient-primary);
}

.results {
    font-size: 28px;
    font-weight: 400;
}

.matching {
    color: #8aa3a1;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}

.textContainer {
    border-bottom: 2px solid #3e3e52;
    margin: var(--spacing-medium) 0;
    padding: var(--spacing-medium) 0;
    width: 100%;
    max-width: 1340px;
}
