.verificationStatus {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 2rem;
    gap: 2rem;
}

.verificationMessage{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}