.verificationStatus {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: var(--spacing-medium);
    gap: var(--spacing-medium);
}

.verificationMessage {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-small);
}
