.navbar {
    width: 100%;
    height: 75px;
    background: linear-gradient(90deg, #6200e9 0%, #9c27af 100%);
    display: flex;
    justify-content: center;

    padding: 0 2rem;
}

.wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1800px;
    height: 100%;
}

.title {
    color: #ffffff;
}

.navList {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.navItem *,
.profile {
    color: #d5d5d5;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.navItem *:hover,
.profile:hover {
    color: #ffffff;
    text-shadow: 0px 0px 100px #ffffff;
}

.profile:hover {
    cursor: pointer;
}

.title {
    color: #ffffff;
}

.navList {
    display: flex;
    gap: 2rem;
    list-style: none;
    align-items: center;
}

.navItem * {
    color: #d5d5d5;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.active {
    color: #ffffff;
    text-shadow: 0px 0 100px #ffffff;
}

.profilePicture {
    width: auto;
    height: auto;
    border-radius: 50%;
    max-width: 128px;
    max-height: 128px;
}

.frame {
    display: flex;
    overflow: hidden;
    height: 64px;
    width: 64px;
    border: #8a2be2 solid 3px;
    border-radius: 144px;
    align-items: center;
    justify-content: center;
}
