#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.active {
    color: #ffffff;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 200px;
}

.icons {
    width: 12px;
    height: 12px;
}

.divider {
    border: none;
    height: 4px;
    background: linear-gradient(90deg, #6200e9 0%, #9c27af 50%, #6200e9 100%);
    width: 100%;
    max-width: 1340px;
}

@media (max-width: 1480px) {
    .wrapper {
        padding: 0 100px;
    }
}

@media (max-width: 1280px) {
    .wrapper {
        padding: 0 50px;
    }
}

@media (max-width: 1180px) {
    .wrapper {
        padding: 100px 0;
    }
}
