.paginator {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: var(--spacing-medium) 0;
    margin-bottom: 4rem;
    gap: var(--spacing-xsmall);
}
