.banner {
    position: relative;
    height: 468px;
    width: 100%;
    max-width: 1340px;
}

.mediaContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.mediaContainer::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0.6;
    z-index: 1;
}

.activeSlide {
    opacity: 1;
    z-index: 1;
}

.backdrop {
    position: absolute;
    width: 100%;
    top: -20%;
}

.mediaDetails {
    position: relative;
    display: flex;
    padding: 48px 24px;
    z-index: 10;
    gap: var(--spacing-medium);
}

.title {
    color: var(--color-accent);
    font-family: var(--font-family);
    font-size: 36px;
}

.overview {
    color: var(--color-text);
    font-family: var(--font-family);
    font-size: 18px;
    height: 170px;
}

.poster {
    width: 248px;
}

@media (max-width: 998px) {
    .banner {
        height: 370px;
    }
    .poster {
        width: 180px;
    }
}

@media (max-width: 768px) {
    .banner {
        height: 320px;
    }

    .mediaDetails {
        bottom: 40px;
        left: 20px;
        gap: var(--spacing-small);
    }

    .title {
        font-size: 32px;
        line-height: 1.2;
    }

    .overview {
        font-size: 18px;
        height: auto;
        max-height: 100px;
    }

    .poster {
        width: 140px;
    }
}

@media (max-width: 650px) {
    .poster {
        display: none;
    }
}

@media (max-width: 480px) {
    .banner {
        display: none;
    }
}
